<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/style.css}" rel="stylesheet">
<!--  <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">-->

<!--  </div>-->
</head>
    <body>
<h1>削除済受講生情報一覧</h1>
<nav>
  <ol class="breadcrumb">
    <a href="/menu" class="link">＞メニュー</a>
  </ol>
</nav>
<!--<form th:action="@{/deletedStudents}" method="post" th:object="${studentDetail}" id="studentForm">-->
<!--<h2>削除済受講生情報一覧</h2>-->
  <table border="1">
    <thead>
    <tr>
      <th>ID</th>
      <th>名前</th>
      <th>カナ名</th>
      <th>ニックネーム</th>
      <th>メールアドレス</th>
      <th>地域</th>
      <th>年齢</th>
      <th>性別</th>
      <th>備考</th>
      <th>コース名</th>
<!--      <th>削除復帰</th>-->
    </tr>
    </thead>
    <tbody>
    <tr th:each="studentDetail : ${studentList}">
      <td th:text="${studentDetail.student.id}">1</td>
      <td><a th:href="@{/restoreStudent/{id}(id=${studentDetail.student.id})}" th:text="${studentDetail.student.name}">山田太郎</a></td>
      <td th:text="${studentDetail.student.kanaName}">ヤマダタロウ</td>
      <td th:text="${studentDetail.student.nickname}">タロー</td>
      <td th:text="${studentDetail.student.email}">taro@example.com</td>
      <td th:text="${studentDetail.student.area}">東京</td>
      <td th:text="${studentDetail.student.age}">20</td>
      <td th:text="${studentDetail.student.sex}">男性</td>
      <td th:text="${studentDetail.student.remark}">特になし</td>
      <td>
        <ul th:if="${studentDetail.studentsCoursesList != null and !#lists.isEmpty(studentDetail.studentsCoursesList)}">
          <li th:each="course : ${studentDetail.studentsCoursesList}"
              th:if="${course.courseName != null and !#strings.isEmpty(course.courseName)}"
              th:text="${course.courseName}">Java入門</li>
        </ul>
        <span th:if="${studentDetail.studentsCoursesList == null or #lists.isEmpty(studentDetail.studentsCoursesList)}">
        未受講
      </span>
      </td>
<!--      <td>-->
<!--        <input type="checkbox" name="restoreIds" th:value="${studentDetail.student.id}" />-->
<!--      </td>-->
    </tr>
    </tbody>
    <table>
<!--      <div class="button-container">-->
<!--        <button type="submit" name="action" value="restore">復帰</button>-->
<!--        <button type="button" onclick="history.back()">取消</button>-->
<!--      </div>-->
<!--      </div>-->
    </tr>
    </tbody>
  </table>
</body>
</html>