<!DOCTYPE html>
<!--Thymeleafを使う宣言-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
<!--  <title>受講生管理システム</title>-->
  <link th:href="@{/style.css}" rel="stylesheet">
</head>
<h2>受講生管理システム</h2>
<body>

<form>
  <fieldset >

    <div class="container">
      <div class="menu-box">
        <h3>受講生管理メニュー</h3>
<!--        <ul>-->
          <a href="/studentList">受講生情報一覧</a>
          <a href="/newStudent">受講生情報　新規登録</a>
          <a href="/deletedStudentList">削除済受講生情報一覧</a>

<!--        </ul>-->
      </div>

      <div class="menu-box">
        <h3>受講コース管理メニュー</h3>
<!--        <ul>-->
          <a href="/basicCourses">基本受講コース設定</a>
          <a href="/studentsCoursesList">コース受講生管理</a>
<!--        </ul>-->
      </div>
    </div>

  </fieldset>
</form>
</body>
</html>